################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ASMG_F1_2021/bin
/NR2019
/SkipBarber
/MultiplayerVehicle.SCN
/Multicar.mas
/mod.mas
/HeadPhysics.ini
/doublewishbone.pm
/default.sfx
/default.cam
/damage.ini
/cmaps.mas
/ASMG_F1_2021/x64/Debug
/PaceCar/C6_PC
/ASMG_F1_2021/.idea
/ASMG_F1_2021/log
/.vs/Vehicles/v17/Browse.VC.opendb
/.vs/Vehicles/v17/Browse.VC.db-wal
/.vs/Vehicles/v17/Browse.VC.db-shm
/.vs/Vehicles/v17/Browse.VC.db
/ASMG_F1_2021/.vs/ASMG_F1_2021/v17/Browse.VC.db
/ASMG_F1_2022/.vs/ASMG_F1_2022/v17/Browse.VC.db
