################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ASMG_F1_2021/bin
/NR2019
/SkipBarber
/MultiplayerVehicle.SCN
/Multicar.mas
/mod.mas
/HeadPhysics.ini
/doublewishbone.pm
/default.sfx
/default.cam
/damage.ini
/cmaps.mas
/ASMG_F1_2021/x64/Debug
/PaceCar/C6_PC
/ASMG_F1_2021/.idea
/ASMG_F1_2021/log
/.vs
/ASMG_F1_2021/.vs/ASMG_F1_2021/v17/Browse.VC.db
/ASMG_F1_2022/.vs/ASMG_F1_2022/v17/Browse.VC.db
/ASMG_F1_2022/bin/hash
/ASMG_F1_2022/x64/Debug
/build.rfbuild

/.vs/Vehicles/v17/.suo
/.vs/Vehicles/v17/fileList.bin
/RenaultMegane
/SRHF1_2024/Textures
*.ffs_db
/VRSC2023
/Classic Stockcar/0.123
/SC2018
/SC2020TS/SC2020TS - NW_ONLY.rcd
/SC2020TS/SC2020TS-ORIG .rcd
/ASMG_FH25/ASMG_FH25.vcxproj.user
