################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ASMG_F1_2021/bin
/NR2019
/SkipBarber
/MultiplayerVehicle.SCN
/Multicar.mas
/mod.mas
/HeadPhysics.ini
/doublewishbone.pm
/default.sfx
/default.cam
/damage.ini
/cmaps.mas
